.auth-container{

  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:#020617;
}

.auth-box{

  width:400px;

  background:#0f172a;

  padding:40px;

  border-radius:20px;

  box-shadow:0 0 20px rgba(147,51,234,0.3);
}

.auth-box h1{

  text-align:center;

  margin-bottom:30px;
}

.auth-box input{

  width:100%;

  padding:15px;

  margin-bottom:20px;

  border:none;

  border-radius:10px;

  background:#1e293b;

  color:white;

  font-size:16px;
}

.auth-box button{

  width:100%;

  padding:15px;

  border:none;

  border-radius:10px;

  background:#9333ea;

  color:white;

  font-size:16px;

  cursor:pointer;

  transition:0.3s;
}

.auth-box button:hover{

  background:#7e22ce;
}