*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#020617;
  color:white;
  font-family:Arial;
}

.navbar{

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:20px 50px;

  background:#0f172a;
}

.logo{

  color:#9333ea;

  font-size:35px;
}

.nav-links{

  display:flex;

  align-items:center;

  gap:30px;
}

.nav-links a{

  color:white;

  text-decoration:none;

  font-size:16px;
}

.logout-btn{

  padding:10px 20px;

  border:none;

  border-radius:10px;

  background:#9333ea;

  color:white;

  font-size:16px;

  cursor:pointer;

  display:flex;

  align-items:center;

  justify-content:center;
}